﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:105px;
  width:35px;
  height:30px;
}
#u2345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
}
#u2348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:71px;
  width:438px;
  height:100px;
}
#u2349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:95px;
  width:56px;
  height:45px;
  opacity:0.25;
}
#u2350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:109px;
  width:36px;
  height:19px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:254px;
  width:85px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:185px;
  width:87px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:219px;
  width:177px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:109px;
  width:113px;
  height:24px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:246px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1211px;
  width:1403px;
  height:246px;
}
#u2357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1244px;
  width:438px;
  height:100px;
}
#u2358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1383px;
  width:421px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:1274px;
  width:76px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1342px;
  width:174px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1308px;
  width:95px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1376px;
  width:273px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:2px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:565px;
  width:554px;
  height:1px;
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:635px;
  width:9px;
  height:17px;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
}
#u2365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:821px;
  width:12px;
  height:17px;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:931px;
  width:12px;
  height:17px;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
}
#u2367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:576px;
  width:172px;
  height:22px;
}
#u2368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2368_input:disabled {
  color:grayText;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:637px;
  width:14px;
  height:16px;
}
#u2369_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:823px;
  width:14px;
  height:16px;
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:933px;
  width:14px;
  height:16px;
}
#u2371_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1103px;
  width:46px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:174px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:637px;
  width:553px;
  height:174px;
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:771px;
  width:128px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:775px;
  width:9px;
  height:7px;
}
#u2378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:741px;
  width:68px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:759px;
  width:9px;
  height:7px;
  font-size:12px;
}
#u2381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:755px;
  width:81px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#0000EE;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:755px;
  width:175px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#0000EE;
}
#u2383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:788px;
  width:89px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:792px;
  width:9px;
  height:7px;
}
#u2386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:59px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:650px;
  width:535px;
  height:59px;
}
#u2387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:531px;
  word-wrap:break-word;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:2px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:732px;
  width:535px;
  height:1px;
}
#u2388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:719px;
  width:11px;
  height:6px;
}
#u2390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:715px;
  width:56px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:821px;
  width:553px;
  height:100px;
}
#u2393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:59px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:834px;
  width:535px;
  height:59px;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:531px;
  word-wrap:break-word;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:899px;
  width:61px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:903px;
  width:11px;
  height:6px;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:159px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:931px;
  width:553px;
  height:159px;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:59px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:944px;
  width:535px;
  height:59px;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:531px;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:2px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1026px;
  width:535px;
  height:1px;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:1013px;
  width:11px;
  height:6px;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:1009px;
  width:56px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1067px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1071px;
  width:9px;
  height:7px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1037px;
  width:64px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:1055px;
  width:9px;
  height:7px;
  font-size:12px;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1051px;
  width:81px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#0000EE;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:1051px;
  width:210px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#0000EE;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:576px;
  width:126px;
  height:22px;
}
#u2414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2414_input:disabled {
  color:grayText;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:579px;
  width:47px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:610px;
  width:143px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:45px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1141px;
  width:554px;
  height:45px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:550px;
  word-wrap:break-word;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:476px;
  width:250px;
  height:43px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#22346F;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:521px;
  width:296px;
  height:16px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#22346F;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:635px;
  width:347px;
  height:100px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  color:#22346F;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:654px;
  width:125px;
  height:21px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  color:#22346F;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Bold', 'Gentona Bold', 'Gentona';
  font-weight:700;
  font-style:normal;
  color:#22346F;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:695px;
  width:180px;
  height:17px;
  font-family:'Gentona-Bold', 'Gentona Bold', 'Gentona';
  font-weight:700;
  font-style:normal;
  color:#22346F;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:697px;
  width:13px;
  height:13px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:745px;
  width:347px;
  height:102px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  color:#22346F;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:764px;
  width:157px;
  height:21px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  color:#22346F;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:804px;
  width:100px;
  height:17px;
  font-family:'Gentona-Bold', 'Gentona Bold', 'Gentona';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#22346F;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2427_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:400px;
  width:187px;
  height:40px;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:409px;
  width:139px;
  height:21px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:416px;
  width:12px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
