﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:105px;
  width:35px;
  height:30px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:71px;
  width:438px;
  height:100px;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:95px;
  width:56px;
  height:45px;
  opacity:0.25;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:109px;
  width:36px;
  height:19px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:254px;
  width:85px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:185px;
  width:87px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:219px;
  width:177px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:109px;
  width:113px;
  height:24px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:246px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1125px;
  width:1403px;
  height:246px;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1158px;
  width:438px;
  height:100px;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1297px;
  width:421px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:1188px;
  width:76px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1256px;
  width:174px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1222px;
  width:95px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1290px;
  width:273px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u2279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:637px;
  width:551px;
  height:91px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:648px;
  width:135px;
  height:20px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:693px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:676px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:675px;
  width:141px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:675px;
  width:14px;
  height:12px;
  color:#22346F;
}
#u2285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:693px;
  width:196px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:693px;
  width:12px;
  height:12px;
  color:#22346F;
}
#u2288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:739px;
  width:136px;
  height:20px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u2290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:784px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:767px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:766px;
  width:141px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:766px;
  width:14px;
  height:12px;
  color:#22346F;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:784px;
  width:196px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:784px;
  width:12px;
  height:12px;
  color:#22346F;
}
#u2297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:819px;
  width:551px;
  height:91px;
}
#u2298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:830px;
  width:139px;
  height:20px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:875px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:858px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:857px;
  width:141px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:857px;
  width:14px;
  height:12px;
  color:#22346F;
}
#u2304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:875px;
  width:196px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:875px;
  width:12px;
  height:12px;
  color:#22346F;
}
#u2307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:921px;
  width:143px;
  height:20px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u2309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:966px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:949px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:948px;
  width:141px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:948px;
  width:14px;
  height:12px;
  color:#22346F;
}
#u2313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:966px;
  width:196px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:966px;
  width:12px;
  height:12px;
  color:#22346F;
}
#u2316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1001px;
  width:551px;
  height:91px;
}
#u2317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:1012px;
  width:118px;
  height:20px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#22346F;
}
#u2318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1057px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1040px;
  width:206px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u2320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:1039px;
  width:141px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
  text-align:center;
}
#u2322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:1039px;
  width:14px;
  height:12px;
  color:#22346F;
}
#u2323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1057px;
  width:196px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:1057px;
  width:12px;
  height:12px;
  color:#22346F;
}
#u2326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:735px;
  width:159px;
  height:28px;
}
#u2328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:740px;
  width:29px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:742px;
  width:90px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#22346F;
}
#u2330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:742px;
  width:44px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
}
#u2331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:2px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:575px;
  width:554px;
  height:1px;
}
#u2332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:486px;
  width:195px;
  height:43px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u2333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#22346F;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:531px;
  width:285px;
  height:16px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#22346F;
}
#u2334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:651px;
  width:13px;
  height:13px;
}
#u2335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:742px;
  width:13px;
  height:13px;
}
#u2336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:833px;
  width:13px;
  height:13px;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:924px;
  width:13px;
  height:13px;
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1015px;
  width:13px;
  height:13px;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:400px;
  width:187px;
  height:40px;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:409px;
  width:139px;
  height:21px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:416px;
  width:12px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u2343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
