﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:105px;
  width:35px;
  height:30px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:71px;
  width:438px;
  height:100px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:95px;
  width:56px;
  height:45px;
  opacity:0.25;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:112px;
  width:28px;
  height:19px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:185px;
  width:87px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:254px;
  width:85px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:219px;
  width:177px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:2px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:553px;
  width:553px;
  height:1px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:868px;
  width:83px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:872px;
  width:9px;
  height:7px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:868px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:872px;
  width:9px;
  height:7px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:833px;
  width:553px;
  height:28px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:840px;
  width:87px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:844px;
  width:9px;
  height:7px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:840px;
  width:173px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:844px;
  width:9px;
  height:7px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:889px;
  width:553px;
  height:28px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:896px;
  width:76px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:900px;
  width:9px;
  height:7px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:896px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:900px;
  width:9px;
  height:7px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:922px;
  width:79px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:926px;
  width:9px;
  height:7px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:922px;
  width:177px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:926px;
  width:9px;
  height:7px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:978px;
  width:83px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:982px;
  width:9px;
  height:7px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:978px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:982px;
  width:9px;
  height:7px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:943px;
  width:553px;
  height:28px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:999px;
  width:553px;
  height:28px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:950px;
  width:87px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:954px;
  width:9px;
  height:7px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:950px;
  width:173px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:954px;
  width:9px;
  height:7px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1006px;
  width:76px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1010px;
  width:9px;
  height:7px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1006px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1010px;
  width:9px;
  height:7px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1032px;
  width:79px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1036px;
  width:9px;
  height:7px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1032px;
  width:177px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1036px;
  width:9px;
  height:7px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1053px;
  width:553px;
  height:28px;
  text-align:right;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1088px;
  width:83px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:1092px;
  width:9px;
  height:7px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1088px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1092px;
  width:9px;
  height:7px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1109px;
  width:553px;
  height:28px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1060px;
  width:87px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:1064px;
  width:9px;
  height:7px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1060px;
  width:173px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1064px;
  width:9px;
  height:7px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1116px;
  width:76px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1120px;
  width:9px;
  height:7px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1116px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1120px;
  width:9px;
  height:7px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1142px;
  width:79px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1146px;
  width:9px;
  height:7px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1142px;
  width:177px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1146px;
  width:9px;
  height:7px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1163px;
  width:553px;
  height:28px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1219px;
  width:553px;
  height:28px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1198px;
  width:83px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:1202px;
  width:9px;
  height:7px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1198px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1202px;
  width:9px;
  height:7px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1170px;
  width:87px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:1174px;
  width:9px;
  height:7px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1170px;
  width:173px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1174px;
  width:9px;
  height:7px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1226px;
  width:76px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1230px;
  width:9px;
  height:7px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1226px;
  width:176px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1230px;
  width:9px;
  height:7px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1252px;
  width:79px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1256px;
  width:9px;
  height:7px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1252px;
  width:177px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1256px;
  width:9px;
  height:7px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:949px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:953px;
  width:9px;
  height:7px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:868px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:872px;
  width:9px;
  height:7px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:896px;
  width:117px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:900px;
  width:9px;
  height:7px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:921px;
  width:100px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:925px;
  width:9px;
  height:7px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:840px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:844px;
  width:9px;
  height:7px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:978px;
  width:90px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:982px;
  width:9px;
  height:7px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1006px;
  width:91px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1010px;
  width:9px;
  height:7px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1033px;
  width:90px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1037px;
  width:9px;
  height:7px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:841px;
  width:13px;
  height:13px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:869px;
  width:13px;
  height:13px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:897px;
  width:13px;
  height:13px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:923px;
  width:13px;
  height:13px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:951px;
  width:13px;
  height:13px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:979px;
  width:13px;
  height:13px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1007px;
  width:13px;
  height:13px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1034px;
  width:13px;
  height:13px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1061px;
  width:13px;
  height:13px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1089px;
  width:13px;
  height:13px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1117px;
  width:13px;
  height:13px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1143px;
  width:13px;
  height:13px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1171px;
  width:13px;
  height:13px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1199px;
  width:13px;
  height:13px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1227px;
  width:13px;
  height:13px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1253px;
  width:13px;
  height:13px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1169px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1173px;
  width:9px;
  height:7px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1088px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1092px;
  width:9px;
  height:7px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:1116px;
  width:117px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1120px;
  width:9px;
  height:7px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1141px;
  width:100px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1145px;
  width:9px;
  height:7px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1060px;
  width:115px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1064px;
  width:9px;
  height:7px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1198px;
  width:90px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1202px;
  width:9px;
  height:7px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1226px;
  width:91px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1230px;
  width:9px;
  height:7px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1253px;
  width:90px;
  height:15px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#0000EE;
  text-align:right;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1257px;
  width:9px;
  height:7px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:471px;
  width:126px;
  height:43px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:516px;
  width:389px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  white-space:nowrap;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:612px;
  width:553px;
  height:180px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:566px;
  width:214px;
  height:46px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:577px;
  width:183px;
  height:24px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:565px;
  width:158px;
  height:47px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:578px;
  width:125px;
  height:24px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:578px;
  width:125px;
  height:24px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:648px;
  width:174px;
  height:39px;
}
#u786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:39px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#008000;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:627px;
  width:93px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#008000;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:656px;
  width:65px;
  height:25px;
}
#u789_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#22346F;
  text-align:center;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#0000EE;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:685px;
  width:26px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#0000EE;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FF0000;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:688px;
  width:130px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FF0000;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:33px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:650px;
  width:238px;
  height:33px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:658px;
  width:109px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#22346F;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:688px;
  width:118px;
  height:16px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u794_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:688px;
  width:97px;
  height:16px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#22346F;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u795_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:725px;
  width:37px;
  height:18px;
}
#u796_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:710px;
  width:32px;
  height:12px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:747px;
  width:79px;
  height:14px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u798_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:725px;
  width:17px;
  height:16px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#22346F;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:724px;
  width:37px;
  height:18px;
}
#u800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:710px;
  width:24px;
  height:12px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-size:10px;
  color:#CCCCCC;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:766px;
  width:102px;
  height:12px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-size:10px;
  color:#CCCCCC;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#22346F;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:802px;
  width:139px;
  height:21px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#22346F;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:400px;
  width:187px;
  height:40px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:409px;
  width:139px;
  height:21px;
  font-family:'Gentona-Medium', 'Gentona Medium', 'Gentona';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:416px;
  width:12px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
