﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:135px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:400px;
  width:246px;
  height:135px;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:242px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:135px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:400px;
  width:246px;
  height:135px;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:242px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:135px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:541px;
  width:246px;
  height:135px;
  font-family:'Quadon-Regular', 'Quadon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:242px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:400px;
  width:425px;
  height:135px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:427px;
  width:300px;
  height:44px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#22346F;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:484px;
  width:352px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#22346F;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:105px;
  width:35px;
  height:30px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:344px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:71px;
  width:438px;
  height:100px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:95px;
  width:56px;
  height:45px;
  opacity:0.25;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:109px;
  width:36px;
  height:19px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:254px;
  width:85px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:185px;
  width:87px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:219px;
  width:177px;
  height:24px;
  font-family:'Quadon-Bold', 'Quadon Bold', 'Quadon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:109px;
  width:113px;
  height:24px;
  font-family:'TitlingGothicFBComp-Regular', 'TitlingGothicFB Comp';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:246px;
  background:inherit;
  background-color:rgba(34, 52, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:884px;
  width:1403px;
  height:246px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:917px;
  width:438px;
  height:100px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1056px;
  width:421px;
  height:17px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:947px;
  width:76px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1015px;
  width:174px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:981px;
  width:95px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1049px;
  width:273px;
  height:24px;
  font-family:'Gentona-Book', 'Gentona Book', 'Gentona';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
